*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
app/.gitignore
app/src/androidTest/
app/src/test/
common/src/androidTest/
common/src/test/
course/src/androidTest/
course/src/test/
home/src/androidTest/
home/src/test/
login/src/androidTest/
login/src/test/
mine/src/androidTest/
mine/src/test/
study/src/androidTest/
study/src/test/
service/src/androidTest/
service/src/test/
